# Scraping Tabular Data for Programmatic SEO


This script is a helpful overview for:

- scraping a webpage using beautiful soup
- extrating tablular data

### About Alton
Follow me for more data and tutorials
- twitter: https://twitter.com/alton_lex @alton_lex
- linkedin: https://www.linkedin.com/in/altonalexander/

In [2]:
# url we will be scraping

url = "https://en.wikipedia.org/wiki/List_of_Asian_countries_by_area"

In [13]:
# import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
# download a copy of the html
website_html = requests.get(url).text

# scrape into a 'soup'
soup = BeautifulSoup(website_html,'lxml')

# preview the html
print(soup.prettify()[0:1000])

<!DOCTYPE html>
<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-language-alert-in-sidebar-enabled vector-feature-sticky-header-disabled vector-feature-page-tools-disabled vector-feature-page-tools-pinned-disabled vector-feature-main-menu-pinned-disabled vector-feature-limited-width-enabled vector-feature-limited-width-content-enabled" dir="ltr" lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   List of Asian countries by area - Wikipedia
  </title>
  <script>
   document.documentElement.className="client-js vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-language-alert-in-sidebar-enabled vector-feature-sticky-header-disabled vector-feature-page-tools-disabled vector-feature-page-tools-pinned-disabled vector-feature-main-menu-pinned-disabled vector-feature-limited-width-enabled vector-feature-limited-width-content-enabled";(function(

In [45]:
data = []
table = soup.find_all('table')
table = table[1]
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip().replace("*","") for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

In [46]:
# get the headers

headers = table_body.find_all('th')
headers
headers_list = []
for header in headers:
    headers_list.append(header.text.strip())

headers_list

['Rank', 'Country', 'Area', 'Notes', 'Facts', 'km²', 'sq mi']

In [47]:
df = pd.DataFrame(data)


# assign the headers to the table columns
df.columns = headers_list[0:len(df.columns)]

df.head()

,Rank,Country,Area,Notes,Facts,km²
0,None,None,None,None,None,None
1,None,None,None,None,None,None
2,1,Russia,"13,129,142","5,069,190","17,098,242 km2 (6,601,668 sq mi) including Eur...",Largest country in the world by area.
3,2,China,"9,615,222","3,712,458","Excluding Taiwan, Hong Kong and Macau.",Largest country by population in Asia as well ...
4,3,India,"3,287,263","1,269,219",Largest democratic country of the world.,None

In [48]:
# cleanup

# remove none
df = df[ df['Notes'].isnull() == False ]

# print the table
df

,Rank,Country,Area,Notes,Facts,km²
2,1,Russia,"13,129,142","5,069,190","17,098,242 km2 (6,601,668 sq mi) including Eur...",Largest country in the world by area.
3,2,China,"9,615,222","3,712,458","Excluding Taiwan, Hong Kong and Macau.",Largest country by population in Asia as well ...
4,3,India,"3,287,263","1,269,219",Largest democratic country of the world.,None
5,4,Kazakhstan,"2,544,900","982,600","2,724,900 km2 (1,052,100 sq mi) including Euro...",Largest landlocked country in Asia and in the ...
6,5,Saudi Arabia,"2,149,690","830,000",None,None
7,6,Iran,"1,648,195","636,372",None,None
8,7,Mongolia,"1,564,110","603,910",None,None
9,8,Indonesia,"1,502,029","579,937","1,904,569 km2 (735,358 sq mi) including the In...",Largest island country in Asia as well as in t...
10,9,Pakistan,"881,913","340,509",None,None
11,10,Turkey,"759,592","293,280","783,562 km2 (302,535 sq mi) including European...",None
12,11,Myanmar,"676,578","261,228",None,None
13,12,Afghanistan,"652,230","251,830",Largest landlocked country by population in Asia.,None
14,13,Yemen,"527,968","203,850",None,None
15,14,Thailand,"513,120","198,120",None,None
16,15,Turkmenistan,"488,100","188,500",None,None
17,16,Uzbekistan,"447,400","172,700",None,None
18,17,Iraq,"438,317","169,235",None,None
19,18,Japan,"377,930","145,920",None,None
20,19,Vietnam,"331,212","127,882",None,None
21,20,Malaysia,"330,803","127,724",None,None
22,21,Oman,"309,500","119,500",None,None
23,22,Philippines,"300,000","120,000",None,None
24,23,Laos,"236,800","91,400",None,None
25,24,Kyrgyzstan,"199,951","77,202",None,None
26,25,Syria,"185,180","71,500",Including the Golan Heights.,None
27,26,Cambodia,"181,035","69,898",None,None
28,27,Bangladesh,"148,460","57,320",None,None
29,28,Nepal,"147,516","56,956",Including highest mountain in the world,None
30,29,Tajikistan,"143,100","55,300",None,None
31,30,North Korea,"120,538","46,540",None,None
32,31,South Korea,"100,210","38,690",None,None
33,32,Jordan,"89,342","34,495",None,None
34,33,United Arab Emirates,"83,600","32,300",None,None
35,34,Azerbaijan,"79,640","30,750","86,600 km2 (33,400 sq mi) including European p...",None
36,35,Georgia,"67,272","25,974","69,700 km2 (26,900 sq mi) including European p...",None
37,36,Sri Lanka,"65,610","25,330",None,None
38,37,Egypt,"60,000","23,000","1,010,408 km2 (390,121 sq mi) including Africa...",None
39,38,Bhutan,"38,394","14,824",Smallest landlocked country by population in A...,None
40,39,Taiwan,"36,193","13,974",Total area under the jurisdiction of the free ...,None
41,40,Armenia,"29,843","11,522",Located in the Armenian highlands and the Cauc...,Smallest landlocked country in Asia.
42,41,Israel,"22,072","8,522","Excluding the West Bank, Gaza Strip, and Golan...",None
43,42,Kuwait,"17,818","6,880",None,None
44,43,Timor-Leste,"14,874","5,743",None,None
45,44,Qatar,"11,586","4,473",None,None
46,45,Lebanon,"10,452","4,036",None,None
47,46,Cyprus,"9,251","3,572",Including Northern Cyprus.,None
48,47,Palestine,"6,020","2,320",Including the West Bank and Gaza Strip.,None
49,48,Brunei,"5,765","2,226",None,None
50,49,Bahrain,780,300,None,None
51,50,Singapore,753,291,None,None
52,51,Maldives,300,120,Smallest country by area and population in Asia.,None